<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/app/css/style.css">
</head>
<body>

    <h1>SUDOKO GAME</h1>

    <div id="main">
        <div id="row1">
           <div id="box1" class="box"></div>
           <div id="box2" class="box"></div>
           <div id="box3" class="box"></div> 
        </div>
        <div id="row2">
            <div id="box4" class="box"></div>
            <div id="box5" class="box"></div>
            <div id="box6" class="box"></div>
        </div>
        <div id="row3">
            <div id="box7" class="box"></div>
            <div id="box8" class="box"></div>
            <div id="box9" class="box"></div>
        </div>
    </div>

    <button type="button" id="start" onclick="start()">START</button>
    <button type="button" id="replay" onclick="replay()">NEW GAME</button>
    {% comment %} <button type="button" id="answer" onclick="answer()">ANSWER</button> {% endcomment %}
    <button type="button" id="stop" onclick="stop()">STOP</button>
    <button type="button" id="support" onclick="support()" >WITH HELP</button>
    <button type="button" id="help" onclick="help()">HOW TO PLAY</button>

    <div id="game_type">
        <h3>CHOOSE LEVEL:</h3>
        <label><input type="radio" id="easy" class="label" name="diff_level" checked> Easy</label>
        <label><input type="radio" id="medium" class="label" name="diff_level" > Medium</label>
        <label><input type="radio" id="hard" class="label" name="diff_level"> Hard</label>
        
    </div>
    <div id="info">
        <h2 id = "player_name">
            HI AAA
        </h2>
        <h2>
            YOU ONLY  HAVE 7 MINUTES
        </h2>
    </div>


    <div id="timer">Time Play: <span id="time_min">00</span>:<span id="time_sec">00</span></div>
    <div id="time_now">Time Now: <span id="time_hour">00</span>:<span id="time_minute">00</span></div>
    <a href="4x4"><button class="grid-button" id="button4x4" onclick="">4x4</button></a>
    <a href=""><button class="grid-button" id="button9x9" onclick="templates/index.html">9x9</button></a>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/app/js/script.js"></script>
    
</body>
</html>